<!DOCTYPE html>
<head>
    <title>主页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/css/uikit.css" />
    <link rel="stylesheet" href="/resources/css/uikit.almost-flat.css" />
    <link rel="stylesheet" href="/resources/css/components/form-select.css">
    <script src="/resources/js/jquery-3.0.0.min.js"></script>
    <script src="/resources/js/md5.js"></script>
    <script src="/resources/js/json.min.js"></script>
    <script src="/resources/js/uikit.js"></script>
    <script src="/resources/js/components/form-select.js"></script>
    <script src="/resources/js/vue.js"></script>
    <script src="/resources/js/JJ.js"></script>
    <script src="/resources/js/js.cookie.js"></script>
    <!-- HTML 编辑器的 CSS 与 JavaScript -->
    <link href="/resources/css/hybrid.css" rel="stylesheet"/>
    <link href="/resources/css/editor.css" rel="stylesheet">
    <script src="/resources/js/json.min.js"></script>
    <script src="/resources/js/highlight.pack.js"></script>
    <script src="/resources/js/editor.js"></script>
    <script src="/resources/js/marked.js"></script>
    <script>
        $(function () {
            var editor = new Editor();
            editor.render();

            function _postNewPost() {
                var sectionId = $('#sections option:selected').val();
                var title = $('#title').val();
                var content = editor.codemirror.getValue();
                var data = {
                    title: title,
                    content: content
                };
                var url = "/api/section/"+sectionId+"/post";
                $.post(url,data,function (result) {
                    if(result.resultCode == "0"){
                        location.assign("/");
                    }else {
                        alert(result.msg);
                    }
                })
            }
            
            function _initEvent() {
                $('#post-btn').click(function () {
                    _postNewPost();
                });
                var title = $('#title');
                title.blur(function () {
                    if(title.val() == ""){
                        $('#title-check').removeClass('uk-hidden');
                    }else {
                        $('#title-check').addClass('uk-hidden');
                    }
                })
            }

            function _getSectionsData() {
                var url = '/api/section/sections';
                $.get(url,function (data) {
                    var sections = $('#sections');
                    for(var i in data.sections){
                        sections.append("<option value="+data.sections[i].id+">"+data.sections[i].sectionName+"</option>");
                    }
                })
            }
            _postNewPost();
            _initEvent();
            _getSectionsData();
            _getUserData();
            _getNewPosts()
        })
    </script>
</head>
<body >
<div  class="uk-height-1-1 uk-grid">
    <div id="header" class="uk-block uk-block-secondary uk-width-1-1 uk-margin-bottom uk-padding-remove">
        <div class="uk-width-large-2-3 uk-container-center">
            <div class="uk-float-right uk-hidden-small">
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signup">注册</a>
                <a class="uk-link-muted uk-contrast " v-else v-bind:href="'/user/'+user.id">{{user.userName}}</a>
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signin">登录</a>
                <a onclick="_loginout()" class="uk-link-muted uk-contrast " v-else >登出</a>
            </div>
            <a href="/" class="uk-visible-small uk-float-right uk-link-muted uk-contrast" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
            <div id="bianbian" class="uk-offcanvas">
                <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                    <div class="uk-panel"><a class="uk-link-muted uk-contrast" href="">注册</a></div>
                    <div class="uk-panel"><a class="uk-link-muted uk-contrast" href="/">登录</a></div>
                    <div class="uk-panel"><a class="uk-link-muted uk-contrast" href="">我的</a></div>
                </div>
            </div>
            <h2 class="uk-contrast"><a href="/">Zero</a></h2>
        </div>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-4 uk-container-center uk-flex uk-flex-space-between">
        <div class="uk-width-large-4-5 uk-width-small-1-1">
            <div class="uk-padding-top-remove ">
                <div class="uk-margin">
                    <div class="uk-button uk-form-select uk-width-1-5" data-uk-form-select>
                        <span>选择板块</span>
                        <i class="uk-icon-caret-down"></i>
                        <select id="sections">
                        </select>
                    </div>
                    <form class="uk-form" style="float: right">
                        <div><input id="title" placeholder="标题" class="uk-form-width-large"></div>
                        <div id= "title-check" class="uk-alert uk-alert-danger uk-hidden">标题不能为空</div>
                    </form>
                </div>
            </div>
            <div class="uk-block uk-padding-top-remove">
                <div class="uk-panel" style="border: 1px solid #61d2cf;">
                    <textarea id ="content"></textarea>
                </div>
                    <p></p>
                    <div class="new-blog-btn">
                        <button id="post-btn" class="uk-button uk-button-primary" >发布</button>
                    </div>
            </div>
        </div>
        <!-- 侧边栏-->
        <div class="uk-hidden-small" style="margin-left: 5%;">
            <div id="userInfo" class="uk-panel uk-panel-box uk-panel-header uk-flex uk-flex-column">
                <div v-if="user != null">
                    <h3 class="uk-panel-title"><a v-bind:href="'/user/'+user.id">{{user.userName}}</a></h3>
                    <h5>{{user.selfIntroduce}}</h5>
                </div>
                <h3 v-else class="uk-panel-title">请先登录</h3>
                <button class="uk-button" ><a href="/post/new">创建新帖子</a></button>
            </div>
            <div id="newpost" class="uk-panel uk-panel-box uk-panel-header uk-flex uk-flex-column" style="margin-top: 20%">
                <div id="newPosts">
                    <h3 class="uk-panel-title">最新帖子</h3>
                    <div v-for="post in newPosts">
                        <a  v-bind:href="'/post/'+post.id+'/replies/page/1'">{{post.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
