<!DOCTYPE html>
<html>
<head>
	<title>帖子信息</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://orhfi6yv3.bkt.clouddn.com/css/uikit.css" />
	<link rel="stylesheet" href="http://orhfi6yv3.bkt.clouddn.com/css/uikit.almost-flat.css" />
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery-3.0.0.min.js"></script>
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/pagination.js"></script>
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery.md5.js"></script>
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/json.min.js"></script>
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/uikit.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/vue.js"></script>
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/main.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/js.cookie.js"></script>
	<script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery.pagination.js"></script>
	<script>
        function _getUrl() {
            var url = location.pathname;
            url = '/api'+ url;
            return url;
        }
		function _initPagination(){
			var url = location.pathname;
			var index = url.lastIndexOf("/");
			var pagestr = url.substring(index+1);
			url = url.substring(0,index+1);
			var page = parseInt(pagestr);
			$('#M-box2').pagination({
				current: page,
				pageCount: 10,
				callback:function(api){
					var page =  api.getCurrent();
					url  =  "http://" +location.host + url + page;
					location.assign(url)
				}
			});
		}
		function _initMain(data) {
			var main = new Vue({
				el: '#main',
				data: {
					post: data.post,
					replies: data.post.replies,
					post_user: data.post.user
				}
			});
		}

		function _initReplyBox(data) {
            var replyBox = new Vue({
                el:"#reply_box",
                data:{
                    user:data.user
                },
                methods:{
                    postNewReply: function () {
                        var url = _getUrl();
                        var newReply = $('#new-reply').val();
                        var content = {content:newReply};
                        $.post(url,content,function (result) {
                            if(result.resultCode=="0") {
                                _getData();
                                location.reload();
                            }else if(result.resultCode=="1"){
                                alert(result.msg);
                                location.assign('/user/signin');
                            }else alert(result.msg);
                        });
                    }
                }
            })
        }

		function _getData() {
			var url = _getUrl();
			_initPagination();
			$.get(url,function (data) {
				_initMain(data);
			});
		}
		$(function () {
            _getData();
            _getUserData(false,true);
			_getNewPosts()
        })
	</script>
</head>
<body>
<div class="uk-height-1-1 uk-grid">
    <div id="header" class="uk-block uk-block-secondary uk-width-1-1 uk-margin-bottom uk-padding-remove">
		<div class="uk-width-large-2-3 uk-container-center">
            <div class="uk-float-right uk-hidden-small">
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signup">注册</a>
                <a class="uk-link-muted uk-contrast " v-else v-bind:href="'/user/'+user.id">{{user.userName}}</a>
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signin">登录</a>
                <a class="uk-link-muted uk-contrast " v-else onclick="_loginout()" >登出</a>
            </div>
            <a href="/" class="uk-visible-small uk-float-right uk-link-muted uk-contrast" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
            <h2 class="uk-contrast"><a href="/">Zero</a></h2>
        </div>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-4 uk-container-center uk-flex uk-flex-space-between">
		<div class="uk-width-large-4-5 uk-width-small-1-1">
			<div id="main">
			<div class="uk-block uk-padding-top-remove">
			    <div class="uk-panel uk-panel-box uk-panel-divider uk-panel-header ">
			        <div class="uk-comment uk-comment-primary">
			  	    	<header class="uk-comment-header">
					    	<div class="uk-border-circle uk-comment-avatar" style="width: 50px;height: 50px;overflow: hidden;">
					  			<img v-bind:src="'http://ordugxhfu.bkt.clouddn.com/img/user/'+post_user.imageUrl+'.jpg'">
							</div>
					    	<h4 class="uk-comment-title">{{post.title}}</h4>
							<div class="uk-comment-meta"><a v-bind:href="'http://localhost:8080/user/'+post.userId">{{post_user.userName}}</a>|{{post.pulishTime}}</div>
			  	    	</header>
			        </div>
			    	<div class="uk-panel uk-panel-box">
			    		<article>{{post.content}}
			  			</article>
			  		</div>
			  	</div>
			</div>
			<div class="uk-padding-top-remove">
				<div class="uk-panel uk-panel-box uk-panel-header">
			    	<h6 class="uk-panel-title">{{post.replyNumber}}回复</h6>
					<ul id="replies" class="uk-comment-list">
				    	<li v-for="reply in replies">
							<article class="uk-comment">
						    	<header class="uk-comment-header">
						        	<div class="uk-border-circle uk-comment-avatar" style="width: 50px;height: 50px;overflow: hidden;">
						            	<img class="" v-bind:src="'http://ordugxhfu.bkt.clouddn.com/img/user/'+reply.user.imageUrl+'.jpg'" >
						        	</div>
						        	<h4 class="uk-comment-title"><a v-bind:href="'/user/'+reply.userId">{{reply.user.userName}}</a></h4>
						        	<div class="uk-comment-meta">{{reply.replyTime}}</div>
						    	</header>
						    	<div class="uk-comment-body">{{reply.content}}</div>
							</article>
							<hr/>
						</li>
					</ul>
				</div>
			</div>
			</div>
			<ul id="M-box2" class="uk-pagination"></ul>
			<div id="reply_box" class="uk-block uk-padding-top-remove">
				<div class="uk-panel uk-panel-box uk-panel-header">
					<h5>发表回复:</h5>
					<div class="uk-form-rows">
						<textarea  id="new-reply" rows="5" style="width: 100%;overflow: auto;  word-break: break-all; "></textarea>
						<button v-if="user!=null" id="new-reply-btn" v-on:click="postNewReply" class="uk-button uk-button-primary uk-button-middle">回复</button>
                        <button v-else class="uk-button uk-button-middle"><a href="/user/signin">请先登录</a></button>
					</div>
				</div>
			</div>
		</div>
        <!-- 侧边栏-->
        <div class="uk-hidden-small uk-width-1-4" style="margin-left: 5%;">
			<div id="userInfo" class="uk-panel uk-panel-box uk-panel-header ">
				<div v-if="user != null">
					<h3 class="uk-panel-title"><a v-bind:href="'/user/'+user.id">{{user.userName}}</a></h3>
					<h5>{{user.selfIntroduce}}</h5>
					<button class="uk-button" ><a href="/post/new">创建新帖子</a></button>
				</div>
				<div v-else>
					<h3 class="uk-panel-title"><a href="/user/signup">现在注册</a></h3>
					<div>
						已有账号请<button class="uk-button" ><a href="/user/signin">登录</a></button>
					</div>
				</div>
			</div>
			<div id="newpost" class="uk-panel uk-panel-box uk-panel-header " style="margin-top: 20%">
				<div id="newPosts">
					<h3 class="uk-panel-title">最新帖子</h3>
					<div v-for="post in newPosts">
						<a  v-bind:href="'/post/'+post.id+'/replies/page/1'">{{post.title}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="uk-block uk-width-1-1 uk-block-secondary"></div>
</div>
</body>
</html>