<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://orhfi6yv3.bkt.clouddn.com/css/uikit.css" />
    <link rel="stylesheet" href="http://orhfi6yv3.bkt.clouddn.com/css/uikit.almost-flat.css" />
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery-3.0.0.min.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery.md5.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/uikit.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/main.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/md5.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/form-select.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/vue.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/js.cookie.js"></script>
    <script>
        $(function() {
            _checkNull();
            _submitForm();
            _getUserData();
            _getNewPosts();
            function _checkNull(){
                $('#userName').blur(function () {
                    var username = $('#userName').val();
                    if(username == ''){
                        $('#username-check').removeClass('uk-hidden');
                    }else {
                        $('#username-check').addClass('uk-hidden');
                    }
                });
                $('#password').blur(function (){
                    var password = $('#password').val();
                    if(password == ''){
                        $('#password-check').removeClass('uk-hidden');
                    }else {
                        $('#password-check').addClass('uk-hidden');
                    }
                });
            }
            function _submitForm() {
                $('#signin-btn').click(function () {
                    var username = $('#userName').val();
                    var password = $('#password').val();
                    var remember = $('#remember').val();
                    var url = '/api/user/session';
                    password = $.md5(password.toString().trim()).toString();
                    var data ={
                        userName: username.toString().trim().toLowerCase(),
                        password: password,
                        remember: remember
                    };
                    $.post(url,data,function (result) {
                        if(result.resultCode=="0"){
                            location.assign('/');
                        }else{
                            $('#signin-msg').removeClass('uk-hidden');
                            $('#signin-msg').html(result.msg);
                        }
                    });
                    return false;
                });
            }
        })
    </script>
</head>
<body >
<div class="uk-height-1-1 uk-grid">
    <div id="header" class="uk-block uk-block-secondary uk-width-1-1 uk-margin-bottom uk-padding-remove">
        <div class="uk-width-large-2-3 uk-container-center">
            <div class="uk-float-right uk-hidden-small">
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signup">注册</a>
                <a class="uk-link-muted uk-contrast " v-else v-bind:href="'/user/'+user.id">{{user.userName}}</a>
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signin">登录</a>
                <a class="uk-link-muted uk-contrast " v-else onclick="_loginout()" >登出</a>
            </div>
            <a href="/" class="uk-visible-small uk-float-right uk-link-muted uk-contrast" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
            <h2 class="uk-contrast"><a href="/">Zero</a></h2>
        </div>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-4 uk-container-center uk-flex uk-flex-space-between">
        <div class=" uk-panel uk-panel-box uk-width-large-4-5 uk-width-small-1-1">
            <div style="width: 360px">
                <form id="signin" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-user"></i>
                            <input id="userName" name="userName" type="text" placeholder="用户名" maxlength="50" class="uk-width-1-1 uk-form-middle">
                        </div>
                        <div id= "username-check" class="uk-alert uk-alert-danger uk-hidden">用户名不能为空</div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-lock"></i>
                            <input id="password" name="password" type="password" placeholder="密码" maxlength="50" class="uk-width-1-1 uk-form-middle">
                        </div>
                        <div id= "password-check" class="uk-alert uk-alert-danger uk-hidden">密码不能为空</div>
                        <div id="signin-msg" class="uk-alert uk-alert-danger uk-hidden"></div>
                    </div>
                    <div class="uk-form-row">
                        <button id="signin-btn" class="uk-button uk-button-primary uk-button-middle"><i class="uk-icon-sign-in"></i> 登录</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- 侧边栏-->
        <div class="uk-hidden-small uk-width-1-4" style="margin-left: 5%;">
            <div id="userInfo" class="uk-panel uk-panel-box uk-panel-header ">
                <div v-if="user != null">
                    <h3 class="uk-panel-title"><a v-bind:href="'/user/'+user.id">{{user.userName}}</a></h3>
                    <h5>{{user.selfIntroduce}}</h5>
                    <button class="uk-button" ><a href="/post/new">创建新帖子</a></button>
                </div>
                <div v-else>
                    <h3 class="uk-panel-title"><a href="/user/signup">现在注册</a></h3>
                    <div>
                        已有账号请<button class="uk-button" ><a href="/user/signin">登录</a></button>
                    </div>
                </div>
            </div>
            <div id="newpost" class="uk-panel uk-panel-box uk-panel-header " style="margin-top: 20%">
                <div id="newPosts">
                    <h3 class="uk-panel-title">最新帖子</h3>
                    <div v-for="post in newPosts">
                        <a  v-bind:href="'/post/'+post.id+'/replies/page/1'">{{post.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>