<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <title>注册</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://orhfi6yv3.bkt.clouddn.com/css/uikit.css" />
    <link rel="stylesheet" href="http://orhfi6yv3.bkt.clouddn.com/css/uikit.almost-flat.css" />
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery-3.0.0.min.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/jquery.md5.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/json.min.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/uikit.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/main.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/md5.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/form-select.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/vue.js"></script>
    <script src="http://orhfi6yv3.bkt.clouddn.com/js/js.cookie.js"></script>
    <script>
    $(function(){
        _checkEmail();
        _checkUserName();
        _checkPassword();
        _submitForm();
        _getUserData();
        _getNewPosts();

        function _submitForm() {
            $('#signup-btn').click(function () {
                _register();
                return false;
            });
        }

        function _register() {
            var username = $('#username').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var selfIntroduce = $('#self-introduce').val();
            var sex = $("input[type='radio']:checked").val();
            password = $.md5(password.toString().trim());
            var data = {
                action:"register",
                userName: username.toString().trim().toLowerCase(),
                email: email.toString().trim().toLowerCase(),
                password: password,
                selfIntroduce:selfIntroduce,
                sex: sex
            };
            var url = '/api/user/user';
            $.post(url,data,function (result) {
                if(result.resultCode=="0"){
                    alert("注册成功，请到邮箱激活帐号再登录");
                    location.assign("/user/signin");
                }else {
                    $('#signup-msg').removeClass('uk-hidden');
                    $('#signup-msg').html(result.msg);
                }
            });
        }

        function _checkPassword() {
            $('#password').blur(function(){
                var password = $('#password').val();
                var reg = /^[A-Za-z0-9_,.?!\-\u4e00-\u9fa5]{6,20}$/;
                if(!reg.test(password)){
                    $('#password-check').removeClass('uk-hidden');
                    $('password').focus();
                }else{
                    $('#password-check').addClass('uk-hidden');
                }
            });
            $('#repeat-password').blur(function(){
                var password = $('#password').val();
                var repeat_password = $('#repeat-password').val();
                if(password != repeat_password){
                    $('#repeat-password-check').removeClass('uk-hidden');
                    $('password').focus();
                }else{
                    $('#repeat-password-check').addClass('uk-hidden');
                }
            });
        }

        function _checkUserName() {
            $('#username').blur(function(){
                var username = $('#username').val();
                var reg = /^\w{1,20}$/;
                if(!reg.test(username)){
                    $('#username-check').removeClass('uk-hidden');
                    $('username').focus();
                }else{
                    $('#username-check').addClass('uk-hidden');
                }
            });
        }
        
        function _checkEmail(){
            $('#email').blur(function(){
                var email = $('#email').val();
                var reg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
                if(!reg.test(email)){
                    $('#email-check').removeClass('uk-hidden');
                    $('email').focus();
                }else{
                    $('#email-check').addClass('uk-hidden');
                }
            });
        }
    });
    </script>
    <script src="http://orhfi6yv3.bkt.clouddn.comjs/json.min.js"></script>
</head>
<body >
<div class="uk-height-1-1 uk-grid">
    <div id="header" class="uk-block uk-block-secondary uk-width-1-1 uk-margin-bottom uk-padding-remove">
        <div class="uk-width-large-2-3 uk-container-center">
            <div class="uk-float-right uk-hidden-small">
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signup">注册</a>
                <a class="uk-link-muted uk-contrast " v-else v-bind:href="'/user/'+user.id">{{user.userName}}</a>
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signin">登录</a>
                <a class="uk-link-muted uk-contrast " v-else onclick="_loginout()" >登出</a>
            </div>
            <a href="/" class="uk-visible-small uk-float-right uk-link-muted uk-contrast" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
            <h2 class="uk-contrast"><a href="/">Zero</a></h2>
        </div>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-4 uk-container-center uk-flex uk-flex-space-between">
        <div class=" uk-panel uk-panel-box uk-width-large-4-5 uk-width-small-1-1">
            <div style="width: 360px">
                <form id="signup" class="uk-form" onsubmit="return false">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-user"></i>
                            <input id="username" name="username" type="text" placeholder="用户名" maxlength="50" class="uk-width-1-1 uk-form-middle">
                        </div>
                        <div id= "username-check" class="uk-alert uk-alert-danger uk-hidden">用户名只能是字母、数字且长度需要在1-20之间</div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-envelope-o"></i>
                            <input id="email" name="email" type="text" placeholder="电子邮箱" class="uk-width-1-1 uk-form-middle">
                        </div>
                        <div id= "email-check" class="uk-alert uk-alert-danger uk-hidden">邮箱格式不合法</div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-lock"></i>
                            <input id="password" name="password" type="password" placeholder="密码" maxlength="50" class="uk-width-1-1 uk-form-middle">
                        </div>
                        <div id="password-check" class="uk-alert uk-alert-danger uk-hidden">密码只能输入6-20个字母、数字、标点符号 </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-lock"></i>
                            <input id="repeat-password" name="repeat-password" type="password" placeholder="确认密码" maxlength="50" class="uk-width-1-1 uk-form-middle">
                        </div>
                        <div id="repeat-password-check" class="uk-alert uk-alert-danger uk-hidden">两次密码不一致</div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <i class="uk-icon-tag"></i>
                            <input id="self-introduce" name="self-introduce" type="text" placeholder="一句话介绍自己" maxlength="50" class="uk-width-1-1 uk-form-middle">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-icon uk-width-1-1">
                            <span class="uk-width-1-5 uk-float-left">性别：</span>
                            <input type="radio" name="sex" value="0" maxlength="50" class="uk-width-1-5">男
                            <input type="radio" name="sex" value="1" maxlength="50" class="uk-width-1-5">女
                        </div>
                    </div>
                    <div id= "signup-msg" class="uk-alert uk-alert-danger uk-hidden"></div>
                    <p></p>
                    <div class="uk-form-row">
                        <button id="signup-btn"  class="uk-button uk-button-primary uk-button-middle"> 注册</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- 侧边栏-->
        <div class="uk-hidden-small uk-width-1-4" style="margin-left: 5%;">
            <div id="userInfo" class="uk-panel uk-panel-box uk-panel-header ">
                <div v-if="user != null">
                    <h3 class="uk-panel-title"><a v-bind:href="'/user/'+user.id">{{user.userName}}</a></h3>
                    <h5>{{user.selfIntroduce}}</h5>
                    <button class="uk-button" ><a href="/post/new">创建新帖子</a></button>
                </div>
                <div v-else>
                    <h3 class="uk-panel-title"><a href="/user/signup">现在注册</a></h3>
                    <div>
                        已有账号请<button class="uk-button" ><a href="/user/signin">登录</a></button>
                    </div>
                </div>
            </div>
            <div id="newpost" class="uk-panel uk-panel-box uk-panel-header " style="margin-top: 20%">
                <div id="newPosts">
                    <h3 class="uk-panel-title">最新帖子</h3>
                    <div v-for="post in newPosts">
                        <a  v-bind:href="'/post/'+post.id+'/replies/page/1'">{{post.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


