<!DOCTYPE html>
<html>
<head>
    <title>用户信息</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/css/uikit.css" />
    <link rel="stylesheet" href="/resources/css/uikit.almost-flat.css" />
    <link rel="stylesheet" href="/resources/css/components/form-select.css">
    <script src="/resources/js/jquery-3.0.0.min.js"></script>
    <script src="/resources/js/md5.js"></script>
    <script src="/resources/js/json.min.js"></script>
    <script src="/resources/js/uikit.js"></script>
    <script src="/resources/js/components/form-select.js"></script>
    <script src="/resources/js/vue.js"></script>
    <script src="/resources/js/JJ.js"></script>
    <script src="/resources/js/js.cookie.js"></script>
    <script>
        $(function () {
            function _initMain(data) {
                var main = new Vue({
                    el: "#main",
                    data:{
                        user: data.user,
                        posts: data.user.posts,
                        replies: data.user.replies
                    },
                    methods:{
                        deletePost: function (event) {
                            var postId = $(event.target).attr('data-key');
                            var url = "/api/section/post/" + postId;
                            $.delete(url,null,function (result){
                                if((result.resultCode == "0")){
                                    setTimeout("alert(result.msg)",2000);
                                    location.reload();
                                }else if(result.resultCode=="1"){
                                    setTimeout("alert(result.msg)",2000);
                                    location.assign("/user/signin");
                                }else alert(result.msg);
                            })
                        },
                        deleteReply: function (event) {
                            var replyId = $(event.target).attr('data-key');
                            var url = "/api/post/reply/" + replyId;
                            $.delete(url,null,function (result){
                                if((result.resultCode == "0")){
                                    setTimeout("alert(result.msg)",2000);
                                    location.reload();
                                }else if(result.resultCode=="1"){
                                    setTimeout("alert(result.msg)",2000);
                                    location.assign("/user/signin");
                                }else alert(result.msg);
                            })
                        }
                    }
                });
            }

            function _getUserDetailData() {
                var url = location.pathname;
                url = "/api"+url;
                $.get(url,function (result) {
                    if(result.resultCode == "0"){
                        _initMain(result);
                        _initUser(null,result);
                    }
                })
            }

            _getUserDetailData();
            _getUserData(false,true);
            _getNewPosts();
        });

        var user = null;
        var baseuser = null;
        var callnumber = 0;
        function _initUser(basedata,detaildata){
            callnumber++;
            if(basedata != null)
                baseuser = basedata.user;
            if(detaildata != null)
                user = detaildata.user;
            if(callnumber == 2 && baseuser!=null && user!=null)
                _checkUser()
        }

        function _checkUser(){
            if(user.id != baseuser.id) {
                $(".delete-post").addClass("uk-hidden");
                $(".delete-reply").addClass("uk-hidden");
            }
            else {
                $(".delete-post").removeClass("uk-hidden");
                $(".delete-reply").removeClass("uk-hidden");
            }
        }
    </script>
</head>
<body >
<div  class="uk-height-1-1 uk-grid">
    <div id="header" class="uk-block uk-block-secondary uk-width-1-1 uk-margin-bottom uk-padding-remove">
        <div class="uk-width-large-2-3 uk-container-center">
            <div class="uk-float-right uk-hidden-small">
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signup">注册</a>
                <a class="uk-link-muted uk-contrast " v-else v-bind:href="'/user/'+user.id">{{user.userName}}</a>
                <a class="uk-link-muted uk-contrast " v-if="user == null" href="/user/signin">登录</a>
                <a onclick="_loginout()" class="uk-link-muted uk-contrast " v-else >登出</a>
            </div>
            <a href="/" class="uk-visible-small uk-float-right uk-link-muted uk-contrast" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
            <div id="bianbian" class="uk-offcanvas">
                <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                    <div class="uk-panel"><a class="uk-link-muted uk-contrast" href="">注册</a></div>
                    <div class="uk-panel"><a class="uk-link-muted uk-contrast" href="/">登录</a></div>
                    <div class="uk-panel"><a class="uk-link-muted uk-contrast" href="">我的</a></div>
                </div>
            </div>
            <h2 class="uk-contrast"><a href="/">Zero</a></h2>
        </div>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-4 uk-container-center uk-flex uk-flex-space-between">
        <div id="main" class="uk-width-large-4-5 uk-width-small-1-1">
            <div class="uk-block uk-padding-top-remove">
                <div class="uk-panel uk-panel-box uk-panel-divider uk-panel-header ">
                    <div class="uk-comment uk-comment-primary">
                        <header class="uk-comment-header">
                            <div class="uk-border-circle uk-comment-avatar" style="width: 50px;height: 50px;overflow: hidden;">
                                <img src="/resources/img/3.jpg">
                            </div>
                            <h3 class="uk-comment-title">{{user.userName}}</h3>
                            <h5>{{user.selfIntroduce}}</h5>
                        </header>
                    </div>
                    <div class="uk-panel uk-panel-box">
                        <article>加入时间:{{user.registerTime}}
                        </article>
                    </div>
                </div>
            </div>
            <div class="uk-block uk-padding-top-remove">
                <div class="uk-panel uk-panel-box uk-panel-header">
                    <h6 class="uk-panel-title">{{user.userName}}发表的帖子</h6>
                    <ul id="posts" class="uk-comment-list">
                        <li v-for="post in posts">
                            <article class="uk-comment">
                                <header class="uk-comment-header">
                                    <h4 class="uk-comment-title"><a v-bind:href="'/post/'+post.id+'/replies/page/1'">{{post.title}}</a></h4>
                                    <div class="uk-comment-meta">发表时间：{{post.pulishTime}}<a v-on:click="deletePost" class="delete-post uk-hidden" v-bind:data-key="post.id" style="float: right">删除</a></div>
                                </header>
                            </article>
                            <hr/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-block uk-padding-top-remove">
                <div class="uk-panel uk-panel-box uk-panel-header">
                    <h6 class="uk-panel-title">{{user.userName}}的回复</h6>
                    <ul id="replies" class="uk-comment-list">
                        <li v-for="reply in replies">
                            <article class="uk-comment">
                                <header class="uk-comment-header">
                                    <h4 class="uk-comment-title">在<a v-bind:href="'/post/'+reply.postId+'/replies/page/1'">{{reply.post.title}}</a>下的回复</h4>
                                    <div class="uk-comment-meta">{{reply.replyTime}}<a v-on:click="deleteReply" class="delete-reply uk-hidden" v-bind:data-key="reply.id" style="float: right">删除</a></div>
                                </header>
                                <div class="uk-comment-body">{{reply.content}}</div>
                            </article>
                            <hr/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 侧边栏-->
        <div class="uk-hidden-small uk-width-1-4" style="margin-left: 5%;">
            <div id="userInfo" class="uk-panel uk-panel-box uk-panel-header ">
                <div v-if="user != null">
                    <h3 class="uk-panel-title"><a v-bind:href="'/user/'+user.id">{{user.userName}}</a></h3>
                    <h5>{{user.selfIntroduce}}</h5>
                    <button class="uk-button" ><a href="/post/new">创建新帖子</a></button>
                </div>
                <div v-else>
                    <h3 class="uk-panel-title"><a href="/user/signup">现在注册</a></h3>
                    <div>
                        已有账号请<button class="uk-button" ><a href="/user/signin">登录</a></button>
                    </div>
                </div>
            </div>
            <div id="newpost" class="uk-panel uk-panel-box uk-panel-header" style="margin-top: 20%">
                <div id="newPosts">
                    <h3 class="uk-panel-title">最新帖子</h3>
                    <div v-for="post in newPosts">
                        <a  v-bind:href="'/post/'+post.id+'/replies/page/1'">{{post.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
